<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thông tin nhân viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <h1 class="text-uppercase text-center">THÔNG TIN NHÂN VIÊN</h1>
    <form method="post">
        <div class="header-emp">
            <div class="header-emp-left">
                <div class="form-group">
                <label>Họ và tên</label>
                <input type="text" name="name" class="form-control"  />
            </div>
            <div class="form-group">
                <label>Ngày sinh</label>
                <input type="date" name="birthday" class="form-control"  />
            </div>
            <div class="form-group">
                <label>Bằng cấp</label>
                <select class="form-control" name="bangcap">
                    <option>Tú Tài</option>
                    <option>Trung Cấp</option>
                    <option>Cao Đẳng</option>
                    <option>Đại học</option>
                    <option>Thạc Sĩ</option>
                    <option>Tiến Sĩ</option>
                </select>
            </div>
            <div class="form-group">
                <label>Chức vụ</label>
                 <select class="form-control" name="bangcap">
                    <option>Giám Đốc</option>
                    <option>Phó Giám Đốc</option>
                    <option>Trưởng Phòng</option>
                    <option>Phó Phòng</option>
                    <option>Nhân Viên</option>
                </select>
            </div>
                <div>
                    <a href= "{{ url_for('employee_list') }}" class="btn btn-sm btn-primary btn-round py-1 font-weight-bold">Thêm mới</a>
                    <a href="#" class="btn btn-sm btn-info btn-round py-1 font-weight-bold">Cập nhật</a>
                </div>
            </div>
            <div class="header-emp-right">
                <div class="form-group">
                <label>Địa chỉ</label>
                <input name="address" class="form-control"/>
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input type="text" name="phones" onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                       maxlength="10" class="form-control" />
            </div>
            <div class="form-group">
                <label>Bộ phận</label>
                <select class="form-control" name="bophan">
                    <option>Thủ Thư</option>
                    <option>Thủ Kho</option>
                    <option>Thủ Quỹ</option>
                    <option>Ban Giám Đốc</option>
                </select>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password"  class="form-control" />
            </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>