<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách nhân viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
    <h1 class="text-center">DANH SÁCH NHÂN VIÊN</h1>
    <table border="1" width="100%">
        <td></td>
        <td>
            <input type="submit" value="Cập nhật thông tin" class="btn btn-danger" />
        </td>
    </table>
</div>

</body>
</html>